<body class="landing">
  <div class="col-md-8">
  </div>
  <div class="col-md-4 login-div">
    <h1>Survey Gorilla</h1>
    <h3>Your information, delivered.</h3>
    <%= link_to 'Login', login_path, class: "btn btn-success login"%>

    <%= link_to 'Sign Up', signup_path, class: "btn btn-success"%>
  </div>
  <div class="navbar-fixed-bottom" style="text-align: center;">
    <p>copyright 2015 | Survey Gorilla </p>
  </div>
</body>