<body class="landing">
  <div class="col-md-8">
  </div>
  <div class="col-md-4 login-div">
    <h1>Survey Gorilla</h1>
    <h3>Your information, delivered.</h3>
    <a class="login"href="/login"><button class="btn btn-success">Login</button></a>
    <a href="/signup"><button class="btn btn-success" >Sign Up</button></a>
  </div>
  <div class="navbar-fixed-bottom" style="text-align: center;">
    <p>copyright 2015 | Survey Gorilla </p>
  </div>
</body>