<!-- if -->

<!-- this will be a partial for landing page -->

<!-- else -->
<!-- this is our home -->
<div class="navbar navbar nav">
  <a class="navbar-brand" href="/">Logout</a>
  <a class="navbar-brand" href="/">Create</a>
  <a class="navbar-brand pull-right" href="/">Dummy</a>
  <p class="glyphicon glyphicon-user pull-right"></p>
</div>
<div class="container well">
  <h1>Hello, Dummy</h1>

  <h4>Happy to have you here</h4>
  <a href="/surveys/new" class="btn btn-primary">Create a survey</a>
</div>

<div class="container">
  <div class="col-md-8">
  </div>

  <div >
  </div>
</div>
