<!-- if -->

<!-- this will be a partial for landing page -->

<!-- else -->

<div class="container well">
  <h1>Hello!</h1>
  <h4>Happy to have you here</h4>
  <a href="/surveys/new" class="btn btn-primary">Create a survey</a>
</div>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="action">
        <td>My surveys</td>
      </tr>
    </thead>
    <tbody>
      <% current_user.surveys.each do |survey| %>
        <tr>
          <th> <%= survey.title %></th>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
