<div class="container well">
  <h1>Gorilla Survey</h1>

  <h4>This is our cool site</h4>
  <h4>Please create a new survey!</h4>
  <a href="/surveys/new" class="btn btn-primary">Create a survey</a>
</div>
